@import url('https://cdn.jsdelivr.net/gh/shikhansoft/tiktok-sans-font@main/font.css');
@import "tailwindcss";

@theme {
  --font-sans: "TikTok Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-serif: "TikTok Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-mono: "TikTok Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  --radius-xs: 0px;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;
}

html, body, #root {
  font-family: "TikTok Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  overscroll-behavior-y: none;
}

/* Force all elements to have no rounded corners */
* {
  border-radius: 0px !important;
}
